<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" >
  <title>{{ sitename }} &mdash; {{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/sakura-multi.css">
  <link rel="stylesheet" href="/css/style.css">
  <meta name="generator" content="metalsmith">
</head>
<body>

    <header>
      <nav>
        {{ sitename }} |
        <a href="/">Home</a> |
        <a href="/about">About</a>
      </nav>
      <button style="position:absolute; top:0; right:1rem;"
        onclick="document.documentElement.classList.toggle('theme-light'); console.log('click');"
      >
        theme
      </button>
      <h1>{{ title }}</h1>
    </header>

    <main>
      {{{ contents }}}
      {{#if postlist}}
        <ul>
        {{#each posts}}
          <li>
            <a href="/{{ path }}">{{ title }}</a>
          </li>
        {{/each}}
        </ul>
      {{/if}}
    </main>

    <footer>
      <p>Generated with {{ generator }} &mdash; <a href="{{ url }}">{{ url }}</a></p>
    </footer>

</body>
</html>
